<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Simple HTML-XML Suite" parallel="methods" thread-count="10">

    <test name="example suite">
        <parameter name="sum" value="49"/>
        <parameter name="x" value="25"/>
        <parameter name="y" value="24"/>
        <packages>
            <package name="pl.lstypka.jevidence.testng.*"/>
        </packages>
    </test>

    <test name="another example test">
        <parameter name="sum" value="9"/>
        <parameter name="x" value="5"/>
        <parameter name="y" value="4"/>

        <packages>
            <package name="pl.lstypka.jevidence.testng.*"/>
        </packages>
    </test>

    <test name="third example test">
        <parameter name="sum" value="24"/>
        <parameter name="x" value="21"/>
        <parameter name="y" value="3"/>
        <packages>
            <package name="pl.lstypka.jevidence.testng.*"/>
        </packages>
    </test>

</suite>