<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading accordion-toggle" data-toggle="collapse"
                    data-target="#resultInPercentageChart" style="cursor: pointer;" >
                <strong>Tests result in percentage</strong>

                <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="resultInPercentageChart" ng-controller="ResultInPercentageChartCtrl">
                <div class="col-md-10">
                    <div style="border: 1px solid #eee;">
                        <flot dataset="resultsInPercentageChartData" options="resultsInPercentageChartOptions"
                              height="300px"></flot>
                    </div>
                </div>
                <div class="col-md-2" id="resultInPercentageChartLegend"></div>
            </div>
        </section>
    </div>

    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#testAvgNumberOfStepsChart" style="cursor: pointer;">
                <strong>Average number of steps</strong>

                <div class="pull-right"  title="Minimalize"><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="testAvgNumberOfStepsChart" ng-controller="TestAvgNumberOfStepsChartCtrl">
                <div class="col-md-10">
                    <div style="border: 1px solid #eee;">
                        <flot dataset="avgNumberOfStepsChartData" options="avgNumberOfStepsChartOptions"
                              height="300px"></flot>
                    </div>
                </div>
                <div class="col-md-2" id="avgNumberOfStepsChartLegend"></div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#testAvgTimeChart" style="cursor: pointer;" >
                <strong>Average execution time</strong>
                <div class="pull-right" title="Minimalize" ><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="testAvgTimeChart" ng-controller="TestAvgTimeChartCtrl">
                <div class="col-md-12">
                    <div style="border: 1px solid #eee;">
                        <flot dataset="testAvgTimeChartData" options="testAvgTimeChartOptions"
                              height="300px"></flot>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>