<div ng-controller="ExecutionOverviewCtrl">
    <div class="row">

        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading accordion-toggle" data-toggle="collapse"
                        data-target="#testsOverviewContainer" style="cursor: pointer;">
                    <strong>Overview / Execution {{executionId}}</strong>

                    <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                </header>
                <div class="panel-body in" id="testsOverviewContainer">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td class="col-md-4"><b>Status</b></td>
                                    <td class="col-md-3"><b>Started</b></td>
                                    <td class="col-md-3"><b>Finished</b></td>
                                    <td class="col-md-2"><b>Duration</b></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="progress xs progress-striped"
                                             style="width: 95%; height: 20px;">
                                            <div ng-if="executionStatus(execution) === 'error'">
                                                <div class="progress-bar progress-bar-danger errors-gradient" style="width: 100%">
                                                    <b>ERROR</b>
                                                </div>
                                            </div>
                                            <div ng-if="executionStatus(execution) === 'failed'">
                                                <div class="progress-bar progress-bar-warning failed-gradient" style="width: 100%">
                                                    <b>FAILED</b>
                                                </div>
                                            </div>
                                            <div ng-if="executionStatus(execution) === 'success'">
                                                <div class="progress-bar progress-bar-success success-gradient" style="width: 100%">
                                                    <b>SUCCESS</b>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{execution.startedAt}}</td>
                                    <td>{{execution.finishedAt}}</td>
                                    <td>{{execution.duration | timeDurationFilter}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon added-gradient"><i class="fa fa-plus-circle"></i></span>

                                <div class="sm-st-info">
                                    <span>{{execution.skipped + execution.passed + execution.errors + execution.failed}}</span>
                                    Total tests
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon success-gradient"><i class="fa fa-check-circle"></i></span>

                                <div class="sm-st-info">
                                    <span>{{execution.passed}}</span>
                                    Passed
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon failed-gradient"><i class="fa fa-times-circle"></i></span>

                                <div class="sm-st-info">
                                    <span>{{execution.failed}}</span>
                                    Failed
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon errors-gradient" style="background-color: #b5302c;"><i
                                        class="fa fa-dot-circle-o"></i></span>

                                <div class="sm-st-info">
                                    <span>{{execution.errors}}</span>
                                    Errors
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sm-st clearfix">
                                <span class="sm-st-icon skipped-gradient"><i class="fa fa-minus-circle"></i></span>

                                <div class="sm-st-info">
                                    <span>{{execution.skipped}}</span>
                                    Skipped
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                    </div>


                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <section class="panel tasks-widget">
                <header class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#statisticsContainer"
                        style="cursor: pointer;">
                    <strong>Statistics </strong>

                    <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                </header>
                <div class="panel-body in" id="statisticsContainer">
                    <div class="row">
                        <div class="task-content">

                            <ul class="task-list">
                                <li>
                                    <div class="task-title">
                                        <span class="task-title-sp">Number of classes</span>
                                        <span class="label-test-param pull-right">{{statistics.numberOfClasses}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="task-title">
                                        <span class="task-title-sp">Number of tests</span>
                                        <span class="label-test-param pull-right">{{statistics.numberOfTests}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="task-title">
                                        <span class="task-title-sp">Number of steps</span>
                                        <span class="label-test-param pull-right">{{statistics.numberOfSteps}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="task-title">
                                        <span class="task-title-sp">Number of assertion errors</span>
                                        <span class="label-test-param pull-right">{{statistics.numberOfAssertionErrors}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="task-title">
                                        <span class="task-title-sp">Number of other errors</span>
                                        <span class="label-test-param pull-right">{{statistics.numberOfOtherErrors}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">

            <section class="panel tasks-widget">
                <header class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#paramsContainer"
                        style="cursor: pointer;">
                    <strong>Tests params</strong>

                    <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                </header>
                <div class="panel-body in" id="paramsContainer">
                    <div class="row">
                        <div class="task-content">

                            <ul class="task-list">
                                <li ng-repeat="(key, values) in params">
                                    <div class="task-title">
                                        <span class="task-title-sp"><b>{{key}}:</b> </span>
                                        <span ng-repeat="value in values" class="label-test-param pull-right"
                                              style="background-color: white; margin-left: 5px;">{{value}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-5">

            <section class="panel tasks-widget">
                <header class="panel-heading accordion-toggle" data-toggle="collapse"
                        data-target="#environmentContainer"
                        style="cursor: pointer;">
                    <strong>Environment properties</strong>

                    <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                </header>
                <div class="panel-body in" id="environmentContainer">
                    <div class="row">
                        <div class="task-content">

                            <ul class="task-list">
                                <li ng-repeat="variable in execution.environmentVariables">
                                    <div class="task-title">
                                        <span class="task-title-sp">{{variable.key}}</span>
                                        <span class="label-test-param pull-right"
                                              style="background-color: white; margin-left: 5px;">{{variable.value}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
</div>