<div data-ng-controller="ExecutionDefectsCtrl">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading accordion-toggle" data-toggle="collapse" data-target="#defectsContainer" style="cursor: pointer;">
                <span style="font-weight: bold;"><span class="label label-test-error">{{calculateTotalDefects(defects)}}</span> Defects / Execution #{{executionId}}</span>
                <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="defectsContainer">
                <div class="alert alert-success" ng-if="defects.defects.length === 0">
                    <strong>Execution {{executionId}}</strong> without any defects!
                </div>
                <div class="panel-body table-responsive" ng-if="defects.defects.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-8">Exception</th>
                            <th class="col-md-1">Message</th>
                            <th class="col-md-2"></th>
                            <th class="col-md-1"><span style="float: right;">Count</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="defect in defects.defects track by $index"
                            ng-click="toggleRow(defect);" style="cursor: pointer;">
                            <td><i class="fa"
                                   ng-class="{'fa-plus-square-o' : !defect.expanded, 'fa-minus-square-o' : defect.expanded}"></i>
                                <spam style="margin-left: 10px;">{{defect.exceptionClassName}}</spam>
                            </td>
                            <td colspan="2">{{defect.exceptionMessage}}</td>
                            <td><span class="label label-test-error" style="float: right;">{{calculateNumberOfTests(defect)}}</span></td>
                        </tr>
                        <tr ng-repeat-start="test in defect.tests" ng-if="defect.expanded">

                            <td colspan="2">
                                <a ng-href="#/execution/{{executionId}}/result?testname={{test.className}}.{{test.testName}}&params={{stringify(test.params)}}">
                                    <span style="margin-left: 20px; word-wrap: break-word;">&raquo; {{test.className}}.{{test.testName}}</span>

                                </a>
                            </td>
                            <td colspan="2">
                                <div>
                                <span data-ng-repeat="(paramKey, paramValue) in test.params"
                                      class="label-test-param" style="background-color: white; margin-left: 5px;">{{paramKey}} : {{paramValue}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat-end="">
                        <tr ng-repeat-end="">

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>


</div>