<div ng-controller="StatisticsCtrl" ng-cloak>
    <div ng-if="noRecords">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> No tests executions
        </div>
    </div>
    <div ng-if="!noRecords">
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading accordion-toggle" data-toggle="collapse"
                            data-target="#testsTrendPerformanceChartDiv" style="cursor: pointer;">
                        <strong>Executions performance - Last {{numberOfExecutions}} executions</strong>

                        <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                    </header>
                    <div class="panel-body in" id="testsTrendPerformanceChartDiv"
                         ng-controller="TestsTrendPerformanceChartCtrl">
                        <div class="col-md-12">
                            <div style="border: 1px solid #eee;">
                                <flot id="testsTrendPerformanceChart" dataset="testsTrendPerformanceChartData"
                                      options="testsTrendPerformanceChartOptions" height="300px">
                                </flot>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading accordion-toggle" data-toggle="collapse"
                            data-target="#testsAvgTimeTrendPerformanceChartDiv" style="cursor: pointer;">
                        <strong>Average tests duration (Execution duration / number of tests) - Last
                            {{numberOfExecutions}} executions</strong>

                        <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                    </header>
                    <div class="panel-body in" id="testsAvgTimeTrendPerformanceChartDiv"
                         ng-controller="TestsAvgTimeTrendPerformanceChartCtrl">
                        <div class="col-md-12">
                            <div style="border: 1px solid #eee;">
                                <flot id="testsAvgTimeTrendPerformanceChart"
                                      dataset="testsAvgTimeTrendPerformanceChartData"
                                      options="testsAvgTimeTrendPerformanceChartOptions" height="300px">
                                </flot>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading accordion-toggle" data-toggle="collapse"
                            data-target="#testsTrendChartDataDiv" style="cursor: pointer;">
                        <strong>Tests trend - Last {{numberOfExecutions}} executions</strong>

                        <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                    </header>
                    <div class="panel-body in" id="testsTrendChartDataDiv" ng-controller="TestsTrendStatusChartCtrl">
                        <div class="col-md-12">
                            <div style="border: 1px solid #eee;">
                                <flot dataset="testsTrendChartData" options="testsTrendChartOptions" height="300px">
                                </flot>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>