<div class="row">
    <div class="col-md-12">
        <div class="sm-st clearfix">

            <div class="panel-body table-responsive">

                <div class="row" ng-if="showSearchPanel">
                    <div class="col-md-3"><input type="text" ng-model="search.textSearch"
                                                 style="border: none; border-bottom: 1px solid #ddd; outline: none;"
                                                 placeholder="Search"></div>
                    <div class="col-md-5"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="level-panel pull-right">
                                    <div>
                                        <i class="icon-ok-circled"
                                           ng-class="{'icon-success' : successLevel, 'icon-disabled' : !successLevel}"
                                           ng-click="toggleStatus('successLevel');"
                                           style="cursor: pointer; font-size: 16px;"
                                           title="Level: Success"></i>
                                        <i class="icon-cancel-circled "
                                           ng-class="{'icon-error' : errorLevel, 'icon-disabled': !errorLevel}"
                                           ng-click="toggleStatus('errorLevel');"
                                           style="cursor: pointer; font-size: 16px;"
                                           title="Level: Error"></i>
                                        <i class="icon-info-circled "
                                           ng-class="{'icon-info' : infoLevel, 'icon-disabled' : !infoLevel}"
                                           ng-click="toggleStatus('infoLevel');"
                                           style="cursor: pointer; font-size: 16px;"
                                           title="Level: Info"></i>
                                        <i class="icon-attention"
                                           ng-class="{'icon-warn' : warnLevel, 'icon-disabled': !warnLevel}"
                                           ng-click="toggleStatus('warnLevel');"
                                           style="cursor: pointer; font-size: 16px;"
                                           title="Level: Warn"></i>
                                        <i class="icon-instagram-circled "
                                           ng-class="{'icon-trace' : screenshotLevel, 'icon-disabled' : !screenshotLevel}"
                                           ng-click="toggleStatus('screenshotLevel');"
                                           style="cursor: pointer; font-size: 16px;"
                                           title="Level: Screenshot"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ui-select ng-model="selected.value" tagging tagging-label="true"
                                           style="width: 105px; float: right;">
                                    <ui-select-match>
                                        <div class="col-md-12 label label-{{selected.value.style}}"
                                             style="display: block; width: 80px; margin-top: 1px; padding-top: 5px; padding-bottom: 5px;">
                                            {{selected.value.label}}
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (itemArray | filter: $select.search) track by item.id"
                                            style="border: none; border-bottom: 1px solid #ddd;">
                                    <span class="label label-{{item.style}}"
                                          style="display: block;">{{item.label}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed table-hover" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th class="col-md-5">Test</th>
                        <th class="col-md-4">Params</th>
                        <th class="col-md-2">Duration</th>
                        <th class="col-md-1">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="testClass in execution.testClasses | testTextFilter:search.textSearch | testStatusFilter:selected:allowedStatuses"
                        ng-click="toggleRow(testClass);"
                        class="test-class-row"
                        style="cursor: pointer;">
                        <td colspan="2">
                            <i class="fa"
                               ng-class="{'fa-plus-square-o' : !testClass.expanded, 'fa-minus-square-o' : testClass.expanded}"></i>
                            <span style="margin-left: 10px;"><b>{{testClass.name}}</b></span>
                        </td>
                        <td>{{testClass.duration | timeDurationFilter}}</td>
                        <td style="padding-right: 0px; padding-left: 0px;">
                            <span class="label label-test-error">{{calculateNumberOfTests(testClass, 'ERROR')}}</span>
                            <span class="label label-test-failed">{{calculateNumberOfTests(testClass, 'FAILED')}}</span>
                            <span class="label label-test-success">{{calculateNumberOfTests(testClass, 'SUCCESS')}}</span>
                            <span class="label label-test-skipped">{{calculateNumberOfTests(testClass, 'SKIPPED')}}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-start="test in testClass.tests"
                        class="test-row"
                        ng-if="testClass.expanded && test.statusOk && test.textOk"
                        ng-click="toggleRow(test);">
                        <td><span style="margin-left: 20px; word-wrap: break-word;">&raquo;{{test.name}}</span></td>
                        <td>
                            <div>
                                <span data-ng-repeat="(paramKey, paramValue) in test.params"
                                      class="label-test-param" style="background-color: white; margin-left: 5px;">{{paramKey}} : {{paramValue}}</span>
                            </div>
                        </td>
                        <td>{{test.duration | timeDurationFilter}}</td>
                        <td>
                            <span class="label label-block"
                                  ng-class="{'label-test-success' : test.status === 'SUCCESS', 'label-test-failed' : test.status === 'FAILED', 'label-test-error' : test.status === 'ERROR', 'label-test-skipped' : test.status === 'SKIPPED'}">
                                    {{test.status}}
                                </span>
                        </td>
                    </tr>
                    <tr ng-repeat-end="" ng-if="test.expanded">
                        <td colspan="12" class="hiddenRow">
                            <div class="sm-st clearfix"
                                 style="margin-left: 50px; background-color: #fafbfc">
                                <div class="row" style="margin-bottom: 15px;">

                                    <div class="col-md-4">
                                                    <span class="label label-success started-at-gradient"
                                                          style="display: block; margin: 15px;">Started: {{test.startedAt}}</span>
                                    </div>
                                    <div class="col-md-4">
                                                    <span class="label label-danger finished-at-gradient"
                                                          style="display: block;  margin: 15px;">Finished: {{test.finishedAt}}</span>
                                    </div>
                                    <div class="col-md-4">
                                                    <span class="label label-primary duration-gradient"
                                                          style="display: block;  margin: 15px;">Duration: {{test.duration | timeDurationFilter}}</span>
                                    </div>
                                </div>
                                <table class="table table-consented" style="background-color: #fcfdfe">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">Level</th>
                                        <th class="col-md-3">Timestamp</th>
                                        <th class="col-md-7">Message</th>
                                        <th class="col-md-1">Screenshot</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat-start="step in test.steps" ng-if="shouldDisplayStep(step);">
                                        <td>
                                            <span title="{{step.level}}"
                                                  ng-class="{'icon-ok-circled icon-success' : step.level === 'success', 'icon-info-circled icon-info' : step.level === 'info', 'icon-attention icon-warn' : step.level === 'warn',  'icon-instagram-circled icon-trace' : step.level === 'screenshot', 'icon-cancel-circled icon-error' : step.level === 'error'}"></span>
                                        </td>
                                        <td>{{step.timestamp}}</td>
                                        <td>
                                            <span ng-if="step.message">{{step.message}}</span><br/>
                                        </td>
                                        <td>
                                                <span ng-if="step.screenshot" ng-controller="ImagePreviewCtrl">
                                                    <a ng-click="openLightboxModal(step.screenshot);">
                                                        <img ng-src="{{step.screenshot}}"
                                                             style="cursor: pointer; width: 80%;"
                                                             class="img-responsive img-thumbnail">
                                                    </a>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end="" style="border-top: 0px;">
                                        <td colspan="4" ng-if="step.stacktrace" style="border-top: 0px;">
                                            <pre><code>{{step.stacktrace}}</code></pre>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tr>
                    <tr ng-repeat-end=""></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
</section>
</div>

